@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-r from-[#ECE9E6] via-[#F3F4F6] to-[#ECE9E6] font-nunito;
  }
}

@layer components {
  .input-form {
    @apply w-full h-10 pl-3 text-gray-800 duration-150 ease-in-out border-2 border-gray-300 rounded outline-none focus:h-12 focus:border-gray-600;
  }
  .error-form {
    @apply flex items-center h-12 p-2 pl-4 py-7 sm:py-0 text-gray-800 bg-red-100 border-2 border-red-500 rounded-md;
  }
  .fps-edit-btn {
    @apply border px-5 py-1 w-14 sm:w-16 rounded-md justify-center text-center cursor-pointer;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
